<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function() {
        i = 0;
        $('.menuAc').css({
          'color': 'rgba(52, 152, 219, 1)'
        });
        $('.menuAc').click(function(){
          $(this).next('.menuMobil').animate({width:'toggle'},350);
          if (i%2==0) {
            $('.footer').css({
              'filter'         : 'blur(5px)'
            });
            $('.programlar').css({
              'filter'         : 'blur(5px)'
            });
            $('.ust').css({
              'filter'         : 'blur(5px)'
            });
            $('ul.menu').css({
              'animation-duration': '0.1s'
            });
            i++;
          }
          else {
            $('.footer').css({
              'filter'         : 'blur(0px)'
            });
            $('.programlar').css({
              'filter'         : 'blur(0px)'
            });
            $('.ust').css({
              'filter'         : 'blur(0px)'
            });
            i++;
          }

        });
      });
    </script>
    <div class="menuAc">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    <div class="ust">
      <div class="ortalaAna">
        <div class="baslikAna">
          {{ site.title }}
        </div>

        <div class="pc">
          {% include nav.html %}
        </div>
      </div>
    </div>
    <div class="ortalaAna">
      <div class="programlar">
        {% for post in site.posts %}
          {% if post.project %}

        <div >
          
          
<a href="https://imgur.com/EmTBNCy"><img src="https://i.imgur.com/EmTBNCy.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/uQ9Gya1"><img src="https://i.imgur.com/uQ9Gya1.jpg" title="source: imgur.com" /></a>    
<a href="https://imgur.com/2DXHkNW"><img src="https://i.imgur.com/2DXHkNW.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/7BcoJZx"><img src="https://i.imgur.com/7BcoJZx.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/dZes46G"><img src="https://i.imgur.com/dZes46G.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/dhPU3ep"><img src="https://i.imgur.com/dhPU3ep.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/qHF52PF"><img src="https://i.imgur.com/qHF52PF.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/3kMBPfR"><img src="https://i.imgur.com/3kMBPfR.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/DhKJGNm"><img src="https://i.imgur.com/DhKJGNm.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/Af9BLSm"><img src="https://i.imgur.com/Af9BLSm.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/qfNRruw"><img src="https://i.imgur.com/qfNRruw.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/acBXhre"><img src="https://i.imgur.com/acBXhre.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/gbYdqKW"><img src="https://i.imgur.com/gbYdqKW.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/5CFr8Uh"><img src="https://i.imgur.com/5CFr8Uh.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/sDYV8Xv"><img src="https://i.imgur.com/sDYV8Xv.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/ttkmbJe"><img src="https://i.imgur.com/ttkmbJe.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/Dln7xc4"><img src="https://i.imgur.com/Dln7xc4.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/17Uh8cG"><img src="https://i.imgur.com/17Uh8cG.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/HgiHWz7"><img src="https://i.imgur.com/HgiHWz7.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/Q80D8TI"><img src="https://i.imgur.com/Q80D8TI.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/bypQ2dh"><img src="https://i.imgur.com/bypQ2dh.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/pOhDDyN"><img src="https://i.imgur.com/pOhDDyN.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/JdXAaxq"><img src="https://i.imgur.com/JdXAaxq.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/uVydopi"><img src="https://i.imgur.com/uVydopi.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/RWVHiVZ"><img src="https://i.imgur.com/RWVHiVZ.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/oY5gF0L"><img src="https://i.imgur.com/oY5gF0L.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/BSX348h"><img src="https://i.imgur.com/BSX348h.jpg" title="source: imgur.com" /></a>
<a href="https://imgur.com/ew4mKF4"><img src="https://i.imgur.com/ew4mKF4.jpg" title="source: imgur.com" /></a>
               
              
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>


<style>
  
  body {
   background-image: url("../assets/img/wood.jpg");
}
  
</style>
